.select2-container .select2-selection--single,
.select2-container--default
  .select2-selection--single
  .select2-selection_rendered,
.select2-container--default
  .select2-selection--single
  .select2-selection_arrow {
  height: 38px !important;
}

input.qty.quantityInput {
  width: 50px !important;
  padding: 6px 3px;
  text-align: center;
  border: 1px solid #cfb1b1;
  outline: 0;
  margin-right: 1px;
}

#history-modal{
  margin-top: 10%;
  padding: 10px;
  border:0px;
  box-shadow: 0px 0px 5px;
  width: 800px;
  min-height: 400px;
}


#customer-detail-footer{
  margin-top: -45px;
  float: right;
}